<div>
    <h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props="back:'LOG OUT', moveTo:'loginView'">Settings</h1>
    <ul data-dojo-type="dojox/mobile/RoundRectList">
        <li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="icon:'images/icon1.png'">Airplane Mode
            <div data-dojo-type="dojox/mobile/Switch"></div>
        </li>
        <li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="icon:'images/icon2.png', rightText:'mac'">Wi-Fi</li>
        <li id="carrierList" data-dojo-type="dojox/mobile/ListItem" data-dojo-props="icon:'images/icon3.png', rightText:'Bharathi airtel',moveTo:'generalView'">Carrier</li>
    </ul>
</div>